*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color:teal ;
}

.container{
  height: 100vh;
  display:flex ;
  flex-direction: column;
  align-items: center;
}

.debug{
  background-color: rgba(0, 139, 139, 0.38);
  border: 1px solid gold;
}

.my-form{
  max-width: 800px;
  background-color: chocolate;
}


.my-ticket{
  margin-top: 50px;
  margin-bottom: 100px;
  border-radius: 8px;
  padding: 10px;
  background-color: chocolate;
}




.pass-name{
  border-top: 3px solid teal;
}


.offer, .cost{
  /* margin: 0 50px; */
  border-top: 3px solid teal;
}

